.icon-red{
    color:red;
    cursor: pointer;
}
/* input.ng-invalid.ng-touched{
    border: 1px solid red;
}  */
.close{
    cursor: pointer;
}
.ticon{
    font-size: medium;
    cursor: pointer;
    
}

/* .rw-widget-container {
    left: 0;
} */
::ng-deep #rasaWebchatPro .rw-widget-container{
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 20px;
    position: fixed;
    width: auto;
    left:0;
    z-index: 1;
    align-items: flex-start;
    justify-content: flex-start; 
}

.container-color{
    background-color:#b7b6b6 ;
}

.btn-color {
    background-color: #8064A2;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-color:hover {
    background-color: #715b8d;
    color: white;
}
.lead{

    color: #120606;
}
