<app-header></app-header>

<div class="container mt-lg-5 mb-lg-5 mt-5">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="text-section">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sollicitudin sapien a tortor fringilla, ut tristique dolor ullamcorper. Nulla sagittis turpis sed magna iaculis, a tempor nunc blandit. Vivamus euismod, nisi vel consectetur commodo, magna risus vulputate nisi, ac ullamcorper libero sapien sit amet dolor. Mauris ultricies sit amet risus et volutpat. Donec commodo mauris risus, eget interdum magna commodo at. Integer in felis quam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sollicitudin sapien a tortor fringilla, ut tristique dolor ullamcorper. Nulla sagittis turpis sed magna iaculis, a tempor nunc blandit. Vivamus euismod, nisi vel consectetur commodo, magna risus vulputate nisi, ac ullamcorper libero sapien sit amet dolor. Mauris ultricies sit amet risus et volutpat. Donec commodo mauris risus, eget interdum magna commodo at. Integer in felis quam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sollicitudin sapien a tortor fringilla, ut tristique dolor ullamcorper. Nulla sagittis turpis sed magna iaculis, a tempor nunc blandit. Vivamus euismod, nisi vel consectetur commodo, magna risus vulputate nisi, ac ullamcorper libero sapien sit amet dolor. Mauris ultricies sit amet risus et volutpat. Donec commodo mauris risus, eget interdum magna commodo at. Integer in felis quam.</p>
        </div>
      </div>
    </div>

    <div class="row mt-5 mb-3">
        <div class="col-md-6">
            <button class="btn btn-color" (click) = "onAuditBot()">Audit Bot</button>
        </div>
        <div class="col-md-6">
            <div class="float-right">
                <button class="btn btn-color" (click) = "onFilterPage()">Filter Page</button>
            </div>
        </div>
    </div>
</div>



