# This is an example SSL configuration
# Uncomment and adapt for your deployment as needed
listen                  443 ssl;

server_name             i4q.ikap.biba.uni-bremen.de; # i4q-dev.ikap.biba.uni-bremen.de;
ssl_certificate         /etc/certs/fullchain.pem;
ssl_certificate_key     /etc/certs/privkey.pem;
