# This is an example SSL configuration
# Uncomment and adapt for your deployment as needed
listen                  443 ssl;

server_name             your-host-name;
ssl_certificate         fullchain.pem;
ssl_certificate_key     privkey.pem;
