
<app-header></app-header>
<div class="container mt-lg-5 mb-lg-5">
       
        <div class="jumbotron bar-color">
            <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">
                            QualiExplore Editable Tree
                        </h2>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="float-right">
                            <button class="btn btn-color" (click)="onBack()">Back</button>
                            <button class="btn btn-color ml-3" (click)="onSave()">Save</button>
                        </div>
                    </div>
             </div>  
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="shadow p-3 scroll">
                    <lib-ngx-tree-component 
                    [config]="dndconfig"
                    [treeData]="factorsData"
                    (ondragstart)="onDragStart($event)"
                    (ondragenter)="onDragEnter($event)"
                    (ondragleave)="onDragLeave($event)"
                    (ondrop)="onDrop($event)"
                    (onallowdrop)="onAllowDrop($event)"
                    (onadditem)="onAddItem($event)"
                    (onStartDeleteItem)="onStartDeleteItem($event)"
                    (onFinishDeleteItem)="onFinishDeleteItem($event)"
                    (onCancelDeleteItem)="onCancelDeleteItem($event)"
                    (onStartRenameItem)="onStartRenameItem($event)"
                    (onFinishRenameItem)="onFinishRenameItem($event)">
                    </lib-ngx-tree-component>
                </div>
            </div>
        </div>
   
</div>

<div class="rasa-chat-widget-container"  
    data-avatar-background="#ead6ff"
    data-primary="#8064a2"
    data-primary-highlight="#9882b5"
    data-root-element-id="storybook-preview-wrapper"
    id="rasa-chat-widget" 
    [attr.data-websocket-url]="websocketUrl">
</div>