
<div class="row mt-5 d-flex justify-content-center">
    <div class="col-xl-4 col-md-4 col-sm-6 col-6 centering">
       
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="errorMessage !== null" class="alert alert-danger">
            {{errorMessage}}
        </div>
        
        <form #authForm="ngForm" class="form-group" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <label for="username">Username:</label>
            <input type="text" id="username" class="form-control" name="username" ngModel required>
            
            <label for="Password">Password:</label>
            <input type="password" id="password" class="form-control" name="password" ngModel required>
            <br>
            

            <input type="checkbox" id="adminCheck" name="adminCheck" [(ngModel)]="adminCheck"> 
            <label class="mb-2 form-check-label-inline  text-muted fw-light" for="adminCheck">&nbsp;Login as Admin</label>

            <br><br>

            
            <input type="submit" value="Login" class="btn btn-color"  [disabled]="!authForm.valid">
        </form>
    </div>
</div>